/* Less Framework 4
 * http://lessframework.com
 * by Joni Korpi
 * License: http://creativecommons.org/licenses/MIT/ */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup,
menu, footer, header, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
  display: block;
}

a img {
  border: 0;
}

.biggest, h1 {
  font-size: 42px;
  line-height: 48px;
}

.bigger, h2 {
  font-size: 26px;
  line-height: 36px;
}

.big, h3 {
  font-size: 22px;
  line-height: 30px;
}

body {
  font: 16px/24px Georgia, serif;
}

.small, small {
  font-size: 13px;
  line-height: 18px;
}

.container, nav ul {
  margin: 0 auto;
  padding: 0px 24px;
}

input, textarea {
  padding: 0.5em;
  font-size: 21px;
  font-family: arial;
  border: 1px solid #333333;
  display: block;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}

textarea {
  resize: none;
  width: 100%;
  width: 252px;
  padding: 10px;
  margin-top: 13px;
  margin-bottom: 13px;
  margin-left: -11px;
  margin-right: -11px;
  margin-right: 13px;
  margin-left: 35px;
  -moz-box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.2);
  box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.2);
}

input[type=text], input[type=password], input[type=url] {
  width: 252px;
  padding: 10px;
  margin-top: 13px;
  margin-bottom: 13px;
  margin-left: -11px;
  margin-right: -11px;
  margin-right: 13px;
  margin-left: 35px;
  -moz-box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.2);
  box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.2);
}

input[type=submit] {
  background: #888888;
  background: #888888 url(../img/lightNoise.png);
  -o-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.1), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.1), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.1), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.1), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
  border: solid 2px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  font-size: 18px;
  margin-left: 35px;
}
input[type=submit]:hover, input[type=submit].active, input[type=submit].active-trail {
  color: #cccccc;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  text-shadow: none;
  border: solid 2px rgba(0, 0, 0, 0.3);
}

html {
  background: #999999;
}

body {
  background: #e8e8e8;
  color: #3c3c3c;
  -webkit-text-size-adjust: 100%;
}

header[role=banner] {
  background: rgba(0, 0, 0, 0.2);
  padding-top: 24px;
  padding-bottom: 24px;
}

body > footer {
  padding-top: 24px;
  background: #999999;
}

#page {
  padding-top: 24px;
  padding-bottom: 24px;
}

[role=main] {
  background: white;
}

nav {
  background: #999999;
}
nav ul {
  list-style: none;
}
nav li {
  display: inline-block;
}
nav a {
  display: block;
  background: #888888;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  padding: 6px;
}
nav a.active, nav a:hover {
  background: rgba(0, 0, 0, 0.3);
  color: #cccccc;
}

.CTA {
  background: white;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
}
.CTA:hover {
  background: #cccccc;
}

aside {
  background: white;
}

::selection {
  background: rgb(255,255,158);
}

::-moz-selection {
  background: rgb(255,255,158);
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: rgb(255,255,158);
}

.first {
  width: 160px;
  padding: 10px;
  margin-top: 13px;
  margin-bottom: 13px;
  margin-left: -11px;
  margin-right: -11px;
  margin-right: 13px;
  margin-left: 81px;
  margin-right: 105px;
  border: 1px solid #333333;
  background: white;
  float: left;
}

.second {
  width: 160px;
  padding: 10px;
  margin-top: 13px;
  margin-bottom: 13px;
  margin-left: -11px;
  margin-right: -11px;
  margin-right: 13px;
  margin-left: 81px;
  background: white;
  border: 1px solid #333333;
  float: left;
}

.third {
  width: 160px;
  padding: 10px;
  margin-top: 13px;
  margin-bottom: 13px;
  margin-left: -11px;
  margin-right: -11px;
  margin-left: 81px;
  border: 1px solid #333333;
  background: white;
  float: left;
}

.puma {
  background-image: url(../img/puma);
}

.sea-slug {
  background-image: url(../img/sea-slug);
}

.egret {
  background-image: url(../img/egret);
}

.salamander {
  background-image: url(../img/salamander);
}

/* Default Layout: 992px.
 * Gutters: 24px.
 * Outer margins: 48px.
 * Leftover space for scrollbars @1024px: 32px.  */
@media only screen and (min-width: 992px) {
  .container, nav ul {
    width: 896px;
  }

  #page {
    overflow: hidden;
    *zoom: 1;
  }

  [role=main] {
    width: 528px;
    padding: 10px;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-left: -11px;
    margin-right: -11px;
    margin-right: 13px;
    border: solid 1px #3c3c3c;
    margin-right: 105px;
    float: left;
  }

  aside {
    width: 252px;
    padding: 10px;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: -10px;
    margin-right: -10px;
    float: left;
  }

  .CTA {
    display: inline-block;
    width: 252px;
    padding: 10px;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: -10px;
    margin-right: -10px;
    float: right;
    text-decoration: none;
  }
}
/*  Tablet Layout: 768px.
 * Gutters: 24px.
 * Outer margins: 28px.
 * Inherits styles from: Default Layout.  */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container, nav ul {
    width: 712px;
  }

  #page {
    overflow: hidden;
    *zoom: 1;
  }

  [role=main] {
    width: 436px;
    padding: 10px;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: -10px;
    margin-right: -10px;
    margin-right: 14px;
    float: left;
  }

  .CTA {
    display: inline-block;
    width: 252px;
    padding: 10px;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: -10px;
    margin-right: -10px;
    float: right;
    text-decoration: none;
  }

  aside {
    width: 252px;
    padding: 10px;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: -10px;
    margin-right: -10px;
    float: left;
  }
}
/*  Mobile Layout: 320px.
 * Gutters: 24px.
 * Outer margins: 34px.
 * Inherits styles from: Default Layout.  */
@media only screen and (max-width: 479px) {
  .container, nav ul {
    width: 252px;
  }

  [role=main] {
    width: 252px;
    padding: 10px;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: -10px;
    margin-right: -10px;
  }

  aside {
    width: 252px;
    padding: 10px;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: -10px;
    margin-right: -10px;
  }

  .CTA {
    display: inline-block;
    width: 252px;
    padding: 10px;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: -10px;
    margin-right: -10px;
    text-decoration: none;
  }
}
/* Wide Mobile Layout: 480px.
 * Gutters: 24px.
 * Outer margins: 22px.
 * Inherits styles from: Default Layout, Mobile Layout.  */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container, nav ul {
    width: 436px;
  }

  [role=main] {
    width: 436px;
    padding: 10px;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: -10px;
    margin-right: -10px;
  }

  .CTA {
    display: inline-block;
    width: 160px;
    padding: 10px;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: -10px;
    margin-right: -10px;
    float: right;
    text-decoration: none;
  }

  aside {
    width: 436px;
    padding: 10px;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: -10px;
    margin-right: -10px;
  }
}
/* Retina media query.
   Overrides styles for devices with a
   device-pixel-ratio of 2+, such as iPhone 4.  */
