// Global style definitions
#{$less-grid-element}
  :margin 0 auto
  :padding 0px 24px

h1
  @extend .biggest

h2
  @extend .bigger

h3
  @extend .big

small
  @extend .small

html
  :background #999

body
  :background rgb(232,232,232)
  :color rgb(60,60,60)

  // Stops Mobile Safari from auto-adjusting font-sizes
  -webkit-text-size-adjust: 100%

header[role= banner]
  :background rgba(0,0,0,.3)
  :padding-top 24px
  :padding-bottom 24px

footer[role= banner]
  :padding-top 24px
  :background #999

#page
  :padding-top 24px
  :padding-bottom 24px

[role=main]
  :background #fff

nav
  :background #888
  ul
    :list-style none
    li
      :display inline-block
      a
        :display block
        :background rgba(0,0,0,.5)
        :color #fff
        :text-decoration none
        :padding 6px
        &.active
          :background rgba(0,0,0,.3)
          :color #ccc

// Selection colors (easy to forget)
+selection-color(unquote("rgb(255,255,158)"))
