$less-grid-element: unquote("body") !default;
$less-grid-padding: true !default;
$less-font-family: Arial, sans-serif !default;

@mixin grid($columns, $padding: $less-grid-padding) {
  @include column($columns, true);

  @if $padding == true {
    @include grid-padding($columns);
  }
}

@mixin grid-padding($columns) {
  @if $columns == 10 {
    padding: 24px;
  } @else if $columns == 8 {
    padding: 24px;
  } @else if $columns == 3 {
    padding: 24px;
  } @else if $columns == 5 {
    padding: 24px;
  }
}

@mixin skip-column($columns, $border-width: 0px, $padded: false){
  @if $padded{
    margin-right: (($columns * 68px) + (24px * ($columns + 1)) - 10px - $border-width);
  } @else {
    margin-right: (($columns * 68px) + (24px * ($columns + 1)));
  }
}

@mixin padded-column($columns, $border-width: 0px, $last: false){
  width: (68px * $columns) + (24px * ($columns - 1));
  padding: 10px;
  margin-top: 24px - 10px - $border-width;
  margin-bottom: 24px - 10px - $border-width;
  margin-left: -(10px + $border-width);
  margin-right: -(10px + $border-width);
  @if $last != true {
    margin-right: 14px - $border-width;
  }
}

@mixin column($columns, $last: false) {
  width: (68px * $columns) + (24px * ($columns - 1));
  @if $last != true {
    margin-right: 24px;
  }
}

@mixin selection-color($color: unquote("rgb(255,255,158)")) {
  ::selection {background: #{$color};}
  ::-moz-selection {background: #{$color};}
  img::selection {background: transparent;}
  img::-moz-selection {background: transparent;}
  body {-webkit-tap-highlight-color: #{$color};}
}
